.page-layout {
  display: block;
}

.main-layout {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.nav-layout {
}

.line-style-layout {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
}

/* .card-layout {
  display: grid;

  grid-template-columns: 1fr;
  gap: 2rem;
}

.modal-layout {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2.4rem;

  justify-items: center;
  align-items: center;
} */
