:root {
  --primary-color: #1e293b;
  --light-primary-color: #e2e8f0;
}

.primary-colors,
.canvas-controls .btn,
.canvas-controls .btn,
.canvas-controls .link-btn,
.canvas-controls .select-font-family {
  color: var(--primary-color);
  background-color: var(--light-primary-color);
}

.primary-colors-reversed,
.btn.primary-colors-reversed {
  background-color: var(--primary-color);
  color: var(--light-primary-color);
}

.canvas-controls .btn:hover,
.link-btn:hover {
  box-shadow: 0 0 10px rgba(226, 232, 240, 0.25);
}

.saved-memes-item .saved-memes-item-overlay,
.gallery-item .gallery-item-overlay {
  background-color: rgba(226, 232, 240, 0.55);
}
