/* @media (min-width: 1100px) {
  .main-layout {
    display: grid;
    grid-template-columns: minmax(2.4rem, 1fr) 98rem minmax(2.4rem, 1fr);
  }

  .main-header-width {
    width: 98rem;
    grid-column: 2;
  }
}

@media (min-width: 860px) {
  .card-layout {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .card {
    margin-inline: 0 2.4rem;
  }

  .card div.flex {
    gap: 0;
  }

  .card button {
    margin-block-start: 0;
  }

  .main-nav {
    position: unset;
    display: block;
  }

  .main-nav .main-menu {
    display: flex;
    flex-direction: row;
    margin-block-start: 0;
  }

  .main-nav .main-menu li {
    width: 13rem;
    box-shadow: -1px 0 0 var(--slate-gray), 1px 0 0 var(--slate-gray);
  }

  .main-nav .main-menu ~ li:hover,
  .main-nav .main-menu ~ li.active {
    box-shadow: -1px 0 0 var(--slate-gray), inset 0 -6px 0 var(--green);
  }

  .main-nav .sub-menu {
    z-index: 1;
  }

  .main-nav .sub-menu li {
    box-shadow: unset;
    border: 1px solid var(--slate-gray);
    border-block-start: none;
  }

  .mobile-nav {
    display: none;
  }

  .modal {
    width: 50rem;
    height: 30rem;
  }
} */
