/* Varela */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* Impact */
@font-face {
  font-family: impact;
  src: url(/fonts/impact/impact.ttf);
  font-weight: normal;
  font-style: normal;
}
