:root {
  /* --green: #58c93a;
  --lightest-gray: #f8f8f8;
  --lighter-gray: #e5e5e5;
  --light-gray: #e1e0e0;
  --light-cool-gray: #c2c1c1;
  --medium-light-gray: #c2c2c2;
  --medium-cool-gray: #a6a6a6;
  --medium-gray: #939292;
  --medium-dark-gray: #818181;
  --dark-gray: #606060;
  --darker-gray: #4f4e4e;
  --darkest-gray: #292929;
  --slate-gray: #1d1d1d;
  --dark-slate-gray: #1e1e1e;
  --blue: #516fad; */
}
