.page-layout .main-header {
  padding: 1.6rem 1.2rem;
}

.nav-links {
  gap: 2.4rem;
  /* display: none; */
}

.nav-link:active,
.nav-link:hover,
.nav-link:visited,
.nav-link:link {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  font-weight: bold;
  font-family: inherit;
  letter-spacing: 0.8px;
}
