.page-layout .main-header {
  grid-column: span 3;
  padding: 2.8rem 3.2rem;
}

.nav-links {
  gap: 2.4rem;
}

.nav-link:active,
.nav-link:hover,
.nav-link:visited,
.nav-link:link {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  font-weight: bold;
  font-family: inherit;
  letter-spacing: 0.8px;
}
